@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;500;600;&display=swap');

$black: #000000;
$black-60: #28282899;
$gray0: #ffffff;
$gray100: #f9f9f9;
$gray200: #f2f2f2;
$gray300: #d9d9d9;
$gray400: #818181;
$gray500: #282828;
$primary100: #e5f6ee;
$primary500: #00a55a;
$red: #e54545;
$uiwhite: #ffffff;
$uigray-1: #fafafa;
$uigray-2: #dfe1e6;

$fs-label-s: 12px;
$fs-label-m: 14px;
$fs-body-s: 16px;
$fs-body-m: 18px;
$fs-body-l: 20px;
$fs-h3: 32px;
$fs-h2: 48px;
$fs-h1: 56px;

$regular: 400;
$medium: 500;
$semibold: 600;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: $regular;
  line-height: 1.5;
  color: $gray500;
}

section {
  margin-bottom: 124px;
  //background-color: #818181;
}

.container {
  /* mobile */
  @media only screen and (max-width: 767px) {
    margin: 0 12px;
  }

  /* tablet */
  @media only screen and (min-width:  768px) and (max-width: 1024px) {
    margin: 0 36px;
  }

  /* desktop */
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    margin: 0 72px;
  }

  /* large desktop */
  @media only screen and (min-width: 1441px) {
    margin: 0 92px;
  }
}

h1 {
  font-size: $fs-h1;
  margin: 0 0 56px;
}

button {
  transition: transform 0.3s ease;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}