/* mobile */
@media only screen and (max-width: 767px) {
  /* base */
  section {
    margin-bottom: 64px;
  }

  h1 {
    font-size: $fs-h3;
    margin: 0 0 32px;
  }

  /* contacts */
  #map {
    height: 280px;
    margin-bottom: 24px;
  }

  .breadcrumb {
    margin-bottom: 40px;

    .breadcrumb__item {
      font-size: $fs-label-s;

      &:not(:last-child)::after {
        margin: 0 8px;
      }
    }
  }

  .contacts__hint {
    display: none;
  }

  .contacts__info {
    display: none;
  }

  .contacts__hint--media {
    display: flex;
    position: static;
    padding: 24px;
    width: auto;
    background: $uigray-1;
    margin-bottom: 24px;

    p {
      word-break: break-word;
    }
  }

  .contacts__info--media {
    display: flex;
    position: static;
    padding: 16px;
    margin: 0;
    width: auto;
    background: $uigray-1;

    h3 {
      font-size: $fs-body-l;
    }

    .contacts__info__list__row {
      align-items: end;

      &__text-block__heading {
        font-size: $fs-label-m;
      }

      &__text-block__text {
        font-size: $fs-label-m;
      }
    }

    .contacts__info__list__row__phones {
      flex-direction: column;
    }

    .contacts__info__buttons {
      flex-direction: column;
      margin-top: 32px;
      align-items: stretch;
    }
  }

  /* office slider */
  .splide {
    &__footer--custom {
      margin-top: 24px;

      &__progress {
        height: 4px;
      }

      &__progress-bar {
        height: 4px;
      }
    }

    &__slide {
      padding: 90px 0 0;
    }
  }

  /* workers slider */
  .team {
    &__header {
      margin-bottom: 20px;

      h2 {
        font-size: 32px;
      }
    }

    &__description {
      font-size: 14px;
      margin-bottom: 32px;
    }
  }

  .splide-2__progress {
    margin-top: 24px;
  }

  .splide-2__progress-bar {
    height: 4px;
  }

  /* requisites */
  .requisites__top {
    margin-bottom: 32px;

    &__left {
      max-width: 100%;

      h2 {
        font-size: 32px;
        margin: 0 0 20px;
      }

      p {
        font-size: 16px;
      }
    }

    &__download {
      display: none;
      padding: 16px 20px 16px 16px;
    }

    &__download--media {
      display: flex;
    }
  }

  .requisites__table {
    width: 100%;
  }

  .table__tr {
    .table__td:first-of-type {
      border-right: 0;
    }

    .table__td:last-of-type {
      border-left: 0;
    }
  }

  .table__td {
    font-size: 14px;
    padding: 6px 8px;
  }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  section {
    margin-bottom: 100px;
  }

  h1 {
    font-size: $fs-h2;
    margin: 0 0 40px;
  }

  .breadcrumb {
    margin-bottom: 40px;

    .breadcrumb__item {
      font-size: $fs-body-s;
    }
  }

  #map {
    height: 400px;
    margin-bottom: 32px;
  }

  .contacts__hint {
    display: none;
  }

  .contacts__info {
    display: none;
  }

  .contacts__hint--media {
    display: flex;
    position: static;
    padding: 32px;
    width: auto;
    background: $uigray-1;
    margin-bottom: 32px;

    p {
      word-break: break-word;
    }
  }

  .contacts__info--media {
    display: flex;
    position: static;
    padding: 40px 24px;
    margin: 0;
    width: auto;
    background: $uigray-1;

    .contacts__info__buttons {
      margin-top: 40px;
    }
  }

  /* office slider */
  .slider-office {
    .container {
      margin-right: 0;
    }

    .splide__footer--custom {
      margin-right: 36px;
    }
  }

  /* workers slider */
  .team {
    &__description {
      margin-bottom: 56px;
    }
  }

  .requisites__top {
    &__left {
      max-width: 100%;
    }

    &__download {
      display: none;
    }

    &__download--media {
      display: flex;
    }
  }

  .requisites__table {
    width: 100%;
  }
}

/* desktop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #map {
    height: 696px;
  }

  .splide-2__progress {
    display: none;
  }

  .requisites__top {
    &__left {
      max-width: 770px;
    }
  }

  .requisites__table {
    width: 100%;
  }
}

/* large desktop */
@media only screen and (min-width: 1441px) {
  #map {
    height: 728px;
  }

  .splide-2__progress {
    display: none;
  }
}
