@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@400;500;600;&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #282828;
}

section {
  margin-bottom: 124px;
}

.container {
  /* mobile */
  /* tablet */
  /* desktop */
  /* large desktop */
}
@media only screen and (max-width: 767px) {
  .container {
    margin: 0 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0 36px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .container {
    margin: 0 72px;
  }
}
@media only screen and (min-width: 1441px) {
  .container {
    margin: 0 92px;
  }
}

h1 {
  font-size: 56px;
  margin: 0 0 56px;
}

button {
  transition: transform 0.3s ease;
  cursor: pointer;
}
button:active {
  transform: scale(0.95);
}

header {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  /* mobile */
  /* tablet */
  /* desktop */
}
@media only screen and (max-width: 767px) {
  header {
    height: 56px;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 122px;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1025px) {
  header {
    height: 216px;
    margin-bottom: 56px;
  }
}

footer {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  /* mobile */
  /* tablet */
  /* desktop */
  /* large desktop */
}
@media only screen and (max-width: 767px) {
  footer {
    height: 1006px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    height: 673px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  footer {
    height: 470px;
  }
}
@media only screen and (min-width: 1441px) {
  footer {
    height: 520px;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.breadcrumb .breadcrumb__item {
  font-weight: 500;
  font-size: 16px;
}
.breadcrumb .breadcrumb__item a {
  text-decoration: none;
  color: rgba(40, 40, 40, 0.6);
}
.breadcrumb .breadcrumb__item:not(:last-child)::after {
  content: " — ";
  color: rgba(40, 40, 40, 0.6);
  margin: 0 16px;
}

#map {
  width: 100%;
  position: relative;
  height: 696px;
}
#map canvas {
  filter: grayscale(1);
}

#map-marker {
  background: transparent;
}
#map-marker img {
  width: 40px;
}

.contacts__hint {
  background: #ffffff;
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 33%;
  padding: 32px;
  z-index: 100;
}
.contacts__hint img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.contacts__hint p {
  margin: 0;
  color: #818181;
  font-size: 14px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: absolute;
  width: 554px;
  top: 0;
  bottom: 0;
  margin: 24px;
  padding: 56px;
  z-index: 10;
}
.contacts__info h3 {
  font-weight: 600;
  font-size: 32px;
  color: #282828;
  margin: 0 0 32px;
}
.contacts__info__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contacts__info__list__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.contacts__info__list__row__phones {
  display: flex;
  gap: 32px;
}
.contacts__info__list__row__text-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
.contacts__info__list__row__text-block__heading {
  font-weight: 600;
  font-size: 16px;
  color: #282828;
  text-decoration: none;
}
.contacts__info__list__row__text-block__text {
  font-weight: 400;
  font-size: 16px;
  color: #818181;
  margin: 0;
}
.contacts__info__list__row .btn-copy {
  width: 56px;
  height: 56px;
  border: 2px solid #d9d9d9;
  background: #ffffff url("../images/copy-icon-gray.svg") no-repeat center;
}
.contacts__info__list__row .btn-copy:hover {
  border-color: #00a55a;
  background: #ffffff url("../images/copy-icon-green.svg") no-repeat center;
}
.contacts__info__buttons {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-grow: 1;
  gap: 24px;
}
.contacts__info__buttons button {
  flex-grow: 1;
  cursor: pointer;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: none;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
}
.contacts__info__buttons button.btn-download {
  background-color: #e5f6ee;
  color: #00a55a;
}
.contacts__info__buttons button.btn-phone {
  background-color: #00a55a;
  color: #ffffff;
}

.contacts__hint--media {
  display: none;
}

.contacts__info--media {
  display: none;
}

.splide__slide {
  background-color: #e5f6ee;
  width: 416px;
  text-align: center;
  padding: 158px 0;
  font-size: 48px;
  font-family: sans-serif;
  color: #00a55a;
  background-position-y: bottom !important;
}
.splide__footer--custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  gap: 64px;
}
.splide__footer--custom__progress {
  background: #f2f2f2;
  height: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.splide__footer--custom__progress-bar {
  background: #00a55a;
  height: 8px;
  width: 0;
  transition: width 400ms ease;
}
.splide__arrows {
  display: flex;
  gap: 16px;
  width: fit-content;
}
.splide__arrow {
  position: static !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  transform: translateY(0) !important;
  width: 56px !important;
  height: 56px !important;
  padding: 16px !important;
  border: 2px solid #00a55a !important;
  transition: transform 0.3s ease;
}
.splide__arrow svg {
  fill: transparent !important;
  height: 100% !important;
  width: 100% !important;
}
.splide__arrow:hover {
  background-color: #e5f6ee !important;
}
.splide__arrow:active {
  transform: scale(0.95) !important;
}
.splide__arrow:disabled {
  border: 2px solid transparent !important;
  opacity: 1 !important;
  background-color: transparent !important;
  cursor: default;
}
.splide__arrow:disabled path {
  stroke: #d9d9d9;
}

.team__header {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 32px;
}
.team__header h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
}
.team__description {
  max-width: 848px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
.team__workers__item {
  display: flex;
  flex-direction: column;
  max-width: 404px;
}
.team__workers__item__image {
  background-color: #fafafa;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.team__workers__item__text-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 8px;
  border: 2px solid #d9d9d9;
  border-top: none;
  padding: 24px 32px;
}
.team__workers__item__text-block__name {
  font-size: 16px;
  font-weight: 600;
}
.team__workers__item__text-block__position {
  font-size: 14px;
  font-weight: 500;
  color: #818181;
}

#splide-2 .splide__slide {
  background-color: transparent;
  width: auto;
  padding: initial;
  text-align: initial;
  color: initial;
}

.splide-2__progress {
  background: #f2f2f2;
  height: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-top: 40px;
}

.splide-2__progress-bar {
  background: #00a55a;
  height: 8px;
  width: 0;
  transition: width 400ms ease;
}

.requisites__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 56px;
}
.requisites__top__left {
  max-width: 1144px;
}
.requisites__top__left h2 {
  font-size: 48px;
  font-weight: 600;
  margin: 0 0 32px;
}
.requisites__top__left p {
  color: #818181;
  font-size: 18px;
  font-weight: 400;
}
.requisites__top__download {
  padding: 24px 32px 24px 24px;
  background-color: #fafafa;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}
.requisites__top__download__icon {
  width: 56px;
  height: 56px;
  background: #e5f6ee url("../images/download-icon.svg") no-repeat center;
  margin-right: 24px;
}
.requisites__top__download__text__main {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
}
.requisites__top__download__text__label {
  color: #818181;
}

.requisites__table {
  width: 1144px;
  border-spacing: 0;
}

.table__tr .table__td:first-of-type {
  font-weight: 600;
}
.table__tr:hover, .table__tr:active {
  background-color: #fafafa;
  cursor: pointer;
}
.table__tr:hover .table__td__icon, .table__tr:active .table__td__icon {
  opacity: 1;
}

.table__td {
  padding: 16px 32px;
  border: 1px solid #d9d9d9;
}
.table__td__icon {
  float: right;
  opacity: 0;
}

.requisites__top__download--media {
  display: none;
  margin-top: 40px;
}

/* mobile */
@media only screen and (max-width: 767px) {
  /* base */
  section {
    margin-bottom: 64px;
  }
  h1 {
    font-size: 32px;
    margin: 0 0 32px;
  }
  /* contacts */
  #map {
    height: 280px;
    margin-bottom: 24px;
  }
  .breadcrumb {
    margin-bottom: 40px;
  }
  .breadcrumb .breadcrumb__item {
    font-size: 12px;
  }
  .breadcrumb .breadcrumb__item:not(:last-child)::after {
    margin: 0 8px;
  }
  .contacts__hint {
    display: none;
  }
  .contacts__info {
    display: none;
  }
  .contacts__hint--media {
    display: flex;
    position: static;
    padding: 24px;
    width: auto;
    background: #fafafa;
    margin-bottom: 24px;
  }
  .contacts__hint--media p {
    word-break: break-word;
  }
  .contacts__info--media {
    display: flex;
    position: static;
    padding: 16px;
    margin: 0;
    width: auto;
    background: #fafafa;
  }
  .contacts__info--media h3 {
    font-size: 20px;
  }
  .contacts__info--media .contacts__info__list__row {
    align-items: end;
  }
  .contacts__info--media .contacts__info__list__row__text-block__heading {
    font-size: 14px;
  }
  .contacts__info--media .contacts__info__list__row__text-block__text {
    font-size: 14px;
  }
  .contacts__info--media .contacts__info__list__row__phones {
    flex-direction: column;
  }
  .contacts__info--media .contacts__info__buttons {
    flex-direction: column;
    margin-top: 32px;
    align-items: stretch;
  }
  /* office slider */
  .splide__footer--custom {
    margin-top: 24px;
  }
  .splide__footer--custom__progress {
    height: 4px;
  }
  .splide__footer--custom__progress-bar {
    height: 4px;
  }
  .splide__slide {
    padding: 90px 0 0;
  }
  /* workers slider */
  .team__header {
    margin-bottom: 20px;
  }
  .team__header h2 {
    font-size: 32px;
  }
  .team__description {
    font-size: 14px;
    margin-bottom: 32px;
  }
  .splide-2__progress {
    margin-top: 24px;
  }
  .splide-2__progress-bar {
    height: 4px;
  }
  /* requisites */
  .requisites__top {
    margin-bottom: 32px;
  }
  .requisites__top__left {
    max-width: 100%;
  }
  .requisites__top__left h2 {
    font-size: 32px;
    margin: 0 0 20px;
  }
  .requisites__top__left p {
    font-size: 16px;
  }
  .requisites__top__download {
    display: none;
    padding: 16px 20px 16px 16px;
  }
  .requisites__top__download--media {
    display: flex;
  }
  .requisites__table {
    width: 100%;
  }
  .table__tr .table__td:first-of-type {
    border-right: 0;
  }
  .table__tr .table__td:last-of-type {
    border-left: 0;
  }
  .table__td {
    font-size: 14px;
    padding: 6px 8px;
  }
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  section {
    margin-bottom: 100px;
  }
  h1 {
    font-size: 48px;
    margin: 0 0 40px;
  }
  .breadcrumb {
    margin-bottom: 40px;
  }
  .breadcrumb .breadcrumb__item {
    font-size: 16px;
  }
  #map {
    height: 400px;
    margin-bottom: 32px;
  }
  .contacts__hint {
    display: none;
  }
  .contacts__info {
    display: none;
  }
  .contacts__hint--media {
    display: flex;
    position: static;
    padding: 32px;
    width: auto;
    background: #fafafa;
    margin-bottom: 32px;
  }
  .contacts__hint--media p {
    word-break: break-word;
  }
  .contacts__info--media {
    display: flex;
    position: static;
    padding: 40px 24px;
    margin: 0;
    width: auto;
    background: #fafafa;
  }
  .contacts__info--media .contacts__info__buttons {
    margin-top: 40px;
  }
  /* office slider */
  .slider-office .container {
    margin-right: 0;
  }
  .slider-office .splide__footer--custom {
    margin-right: 36px;
  }
  /* workers slider */
  .team__description {
    margin-bottom: 56px;
  }
  .requisites__top__left {
    max-width: 100%;
  }
  .requisites__top__download {
    display: none;
  }
  .requisites__top__download--media {
    display: flex;
  }
  .requisites__table {
    width: 100%;
  }
}
/* desktop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #map {
    height: 696px;
  }
  .splide-2__progress {
    display: none;
  }
  .requisites__top__left {
    max-width: 770px;
  }
  .requisites__table {
    width: 100%;
  }
}
/* large desktop */
@media only screen and (min-width: 1441px) {
  #map {
    height: 728px;
  }
  .splide-2__progress {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
